In [1]:
//Load Library
%classpath add jar libs/*

In [2]:
//Render HTML
%%html

In [3]:
import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;
import static tech.tablesaw.aggregate.AggregateFunctions.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek csv
Table  uascsv= Table.read().csv("datasets/12181618/12181618.csv");

//print dataset structure
System.out.println(uascsv.structure());

//Menampilkan 5 baris data yang pertama dari data frame fieCSV
System.out.println(uascsv.first(5));

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file 12181610.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/12181618/12181618.json").build();

//memasukan data fileJSON ke dataframe 
Table uasjson = reader.read(fileJSON);

//menampilkan structure dataframe tabeljson
System.out.println(uasjson.structure());

//Menampilkan 5 baris data yang pertama dari data frame fieJSON
System.out.println(uasjson.first(5));

//menggabungkan data pada fieCSV dan fieJSON untuk disimpan di dataframe datagabung
Table datagabung = uascsv.append(uasjson);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.first(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("Nilai", mean, max, min, sum, median, range).apply());

        Structure of 12181618.csv
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |           _id  |      INTEGER  |
     1  |           idx  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |  kode_wilayah  |      INTEGER  |
     4  |       wilayah  |       STRING  |
     5  |         tahun  |      INTEGER  |
     6  |      triwulan  |       STRING  |
     7  |         bulan  |       STRING  |
     8  |       tanggal  |       STRING  |
     9  |         nilai  |       DOUBLE  |
    10  |        target  |       STRING  |
                                                                       12181618.csv
 _id  |  idx  |             series             |  kode_wilayah  |     wilayah      |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
----------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |       Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |            ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |  SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |  SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |            RIAU  |   2008  |            |         |           |    13729.2  |          |
        Structure of 12181618.json
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |  kode_wilayah  |      INTEGER  |
     1  |         tahun  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |         nilai  |       DOUBLE  |
     4  |           _id  |      INTEGER  |
     5  |       wilayah  |       STRING  |
     6  |       tanggal  |       STRING  |
     7  |           idx  |      INTEGER  |
     8  |         bulan  |       STRING  |
     9  |      triwulan  |       STRING  |
    10  |        target  |       STRING  |
                                                                       12181618.json
 kode_wilayah  |  tahun  |             series             |  nilai  |  _id  |        wilayah         |  tanggal  |  idx  |  bulan  |  triwulan  |  target  |
------------------------------------------------------------------------------------------------------------------------------------------------------------
         2172  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  173  |   KOTA TANJUNG PINANG  |           |  172  |         |            |          |
         3101  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  174  |      KEPULAUAN SERIBU  |           |  173  |         |            |          |
         3171  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  175  |  KOTA JAKARTA SELATAN  |           |  174  |         |            |          |
         3172  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  176  |    KOTA JAKARTA TIMUR  |           |  175  |         |            |          |
         3173  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  177  |    KOTA JAKARTA PUSAT  |           |  176  |         |            |          |
                                                                       12181618.csv
 _id  |  idx  |             series             |  kode_wilayah  |     wilayah      |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
----------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |       Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |            ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |  SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |  SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |            RIAU  |   2008  |            |         |           |    13729.2  |          |
                                           12181618.csv summary
    Mean [nilai]     |  Max [nilai]  |  Min [nilai]  |  Sum [nilai]  |  Median [nilai]  |  Range [nilai]  |
-----------------------------------------------------------------------------------------------------------
 18025.386842105272  |    1857348.3  |          0.3  |    5479717.6  |           696.8  |        1857348  |

null

In [4]:
%%classpath add mvn
tech.tablesaw tablesaw-beakerx 0.30.3
tech.tablesaw tablesaw-jsplot 0.37.0 
tech.tablesaw tablesaw-plot 0.24.4

In [5]:
import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.csv.*;

import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.api.HorizontalBarPlot;
import tech.tablesaw.plotly.api.VerticalBarPlot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.components.Marker;
import tech.tablesaw.plotly.traces.BarTrace;
import tech.tablesaw.plotly.traces.Trace;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfData = Table.read().csv("datasets/12181618/12181618.csv");

Table summaryPendapatan =  dfData.summarize("nilai", sum).by("kode_wilayah");;

Table sumTotal =  dfData.summarize("nilai", sum).by("wilayah");

System.out.println(summaryPendapatan.print());

System.out.println(sumTotal.print());

//Ploting grafik secara vertical 
Plot.show(
        VerticalBarPlot.create(
            "nilai",
            summaryPendapatan,
            "kode_wilayah",
            Layout.BarMode.GROUP,
            "Sum [nilai]"));

//Ploting grafik secara horisontal 
  Plot.show(
        HorizontalBarPlot.create(
            "nilai",
            sumTotal,
            "wilayah",
            Layout.BarMode.STACK,
            "Sum [nilai]"));

      12181618.csv summary
 kode_wilayah  |  Sum [nilai]  |
--------------------------------
            1  |    1857348.3  |
           11  |      21402.1  |
           12  |      15946.8  |
           13  |       5601.2  |
           14  |      13729.2  |
           15  |      11264.7  |
           16  |      39692.5  |
           17  |       7676.7  |
           18  |      56679.1  |
           19  |       7790.3  |
          ...  |          ...  |
         1903  |       2545.3  |
         1904  |         1016  |
         1905  |         1090  |
         1906  |         66.5  |
         1971  |            0  |
         2101  |           26  |
         2102  |           19  |
         2103  |         1375  |
         2104  |        183.8  |
         2171  |           26  |
            12181618.csv summary
          wilayah           |  Sum [nilai]  |
---------------------------------------------
                 Indonesia  |    1857348.3  |
                      ACEH  |      21402.1  |
            SUMATERA UTARA  |      15946.8  |
            SUMATERA BARAT  |       5601.2  |
                      RIAU  |      13729.2  |
                     JAMBI  |      11264.7  |
          SUMATERA SELATAN  |      39692.5  |
                  BENGKULU  |       7676.7  |
                   LAMPUNG  |      56679.1  |
 KEPULAUAN BANGKA BELITUNG  |       7790.3  |
                       ...  |          ...  |
              BANGKA BARAT  |       2545.3  |
             BANGKA TENGAH  |         1016  |
            BANGKA SELATAN  |         1090  |
            BELITUNG TIMUR  |         66.5  |
       KOTA PANGKAL PINANG  |            0  |
                   KARIMUN  |           26  |
                    BINTAN  |           19  |
                    NATUNA  |         1375  |
                    LINGGA  |        183.8  |
                KOTA BATAM  |           26  |

null